@keyframes spotlightAnimation {
  0% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}

@keyframes loading {
  0% {
    background: radial-gradient(circle, rgb(0 0 0 / 40%), rgb(0 0 0 / 40%) 100px, rgb(0 0 0 / 40%) 100px, rgb(0 0 0 / 40%));
  }

  100% {
    background: radial-gradient(circle, transparent, transparent 100px, rgb(0 0 0 / 40%) 100px, rgb(0 0 0 / 40%));
  }
}

@keyframes loadingFinish {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes tabAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
